/cours0/ConsoleApplication1/Debug
/cours0/ConsoleApplication1/ConsoleApplication1/Debug
/cours0/ConsoleApplication1/.vs
/cours0/ConsoleApplication1/x64
/cours0/ConsoleApplication1/ConsoleApplication1/x64
/Cours1/ConsoleApplication1/.vs
/cours1/ConsoleApplication1/Debug
/Cours2/ConsoleApplication1/.vs
/Cours2/ConsoleApplication1/Debug
/Cours3/ConsoleApplication1/Debug
/Cours3/ConsoleApplication1/.vs
/Cours4/App/Debug
/Cours4/App/.vs
/Cours5/App/Debug
/Cours5/App/Release
/Cours5/App/.vs
/Cours7_Shader/App/Debug
/Cours7_Shader/App/.vs
/Test_Integration_Box2D/Debug
/Test_Integration_Box2D/.vs
/mt_case/App/Debug
/mt_case/App/.vs